@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2vw; /* Use vw units for padding */
  z-index: 2;
  background-color: #081e3c;
}

.title {
  font-size: 3vw; /* Use vw units for font size */
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
  padding-right: 10vw; /* Use vw units for padding */
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 2vw; /* Use vw units for gap */
  list-style: none;
  padding-right: 4vw; /* Use vw units for padding */
}

.menuItems a {
  font-size: 2.5vw; /* Use vw units for font size */
  color: var(--color-text);
}

.menuBtn {
  display: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 2vw; /* Use vw units for margin */
    flex-direction: column;
    align-items: flex-end;
    gap: 1vw; /* Use vw units for gap */
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.3vw; /* Use vw units for gap */
    border-radius: 1vw; /* Use vw units for border-radius */
    background: rgb(25, 55, 109);
    background: linear-gradient(0deg, rgba(25, 55, 109, 0.2) 0%, rgba(25, 55, 109, 1) 100%);
    padding: 2.4vw 3.3vw; /* Use vw units for padding */
    box-shadow: 0 0 0.4vw 0 rgba(0, 0, 0, 0.25); /* Use vw units for box-shadow */
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}

.logo {
  width: 5vw; /* Use vw units for width */
  padding-left: 1vw; /* Use vw units for padding */
}

